<configuration>
	<system.webServer>
		<handlers>
            <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py&quot;" resourceType="File" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="app.py" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
